In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
data = pd.read_csv('movieReplicationSet.csv')

In [3]:
data

,The Life of David Gale (2003),Wing Commander (1999),Django Unchained (2012),Alien (1979),Indiana Jones and the Last Crusade (1989),Snatch (2000),Rambo: First Blood Part II (1985),Fargo (1996),Let the Right One In (2008),Black Swan (2010),...,When watching a movie I cheer or shout or talk or curse at the screen,When watching a movie I feel like the things on the screen are happening to me,As a movie unfolds I start to have problems keeping track of events that happened earlier,"The emotions on the screen ""rub off"" on me - for instance if something sad is happening I get sad or if something frightening is happening I get scared",When watching a movie I get completely immersed in the alternative reality of the film,Movies change my position on social economic or political issues,When watching movies things get so intense that I have to stop watching,Gender identity (1 = female; 2 = male; 3 = self-described),Are you an only child? (1: Yes; 0: No; -1: Did not respond),Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
0,NaN,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,1.0,6.0,2.0,5.0,5.0,5.0,1.0,1.0,0,1
1,NaN,NaN,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,1.0,1.0,6.0,5.0,3.0,2.0,1.0,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,4.0,3.0,5.0,5.0,4.0,4.0,1.0,1,0
3,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,NaN,4.0,...,3.0,1.0,1.0,4.0,5.0,3.0,1.0,1.0,0,1
4,NaN,NaN,3.5,NaN,0.5,NaN,0.5,1.0,NaN,0.0,...,2.0,3.0,2.0,5.0,6.0,4.0,4.0,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,...,3.0,4.0,3.0,5.0,5.0,4.0,4.0,1.0,0,0
1093,3.0,4.0,NaN,NaN,4.0,4.0,2.5,NaN,3.5,3.5,...,5.0,3.0,5.0,5.0,5.0,6.0,5.0,1.0,0,0
1094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,...,6.0,3.0,1.0,6.0,6.0,4.0,2.0,1.0,0,0
1095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,4.0,3.0,3.0,1.0,1.0,0,1
1096,NaN,NaN,4.0,NaN,2.5,NaN,NaN,3.0,NaN,3.5,...,3.0,4.0,1.0,4.0,4.0,4.0,1.0,1.0,0,1

In [4]:
movie_ratings = data.iloc[:, :400]

#### Q1

Are movies that are more popular (operationalized as having more ratings) rated higher than movies that are less popular? [Hint: You can do a median-split of popularity to determinehigh vs. low popularitymovies]

In [33]:

movie_stats = pd.DataFrame({
        'n_ratings': movie_ratings.notna().sum(),  # Number of ratings (popularity)
        'median_rating': movie_ratings.median(),       # Median rating
})

In [34]:
movie_stats

                                           n_ratings  median_rating
The Life of David Gale (2003)                     76            2.5
Wing Commander (1999)                             71            2.0
Django Unchained (2012)                          453            3.5
Alien (1979)                                     289            3.0
Indiana Jones and the Last Crusade (1989)        463            3.0
...                                              ...            ...
Patton (1970)                                     61            2.5
Anaconda (1997)                                  198            2.5
Twister (1996)                                   174            2.5
MacArthur (1977)                                  61            2.0
Look Who's Talking (1989)                        108            2.5

[400 rows x 2 columns]

In [35]:
median_ratings = movie_stats['n_ratings'].median()
movie_stats['is_popular'] = movie_stats['n_ratings'] > median_ratings
high_popularity = movie_stats[movie_stats['is_popular']]['median_rating']
low_popularity = movie_stats[~movie_stats['is_popular']]['median_rating']

In [38]:
high_popularity

Django Unchained (2012)                           3.5
Alien (1979)                                      3.0
Indiana Jones and the Last Crusade (1989)         3.0
Fargo (1996)                                      3.0
Black Swan (2010)                                 3.0
                                                 ...
X-Men 2 (2003)                                    3.0
The Mask (1994)                                   3.0
Jaws (1975)                                       3.0
Harry Potter and the Chamber of Secrets (2002)    3.5
Anaconda (1997)                                   2.5
Name: median_rating, Length: 200, dtype: float64

In [37]:
statistic, p_value = stats.mannwhitneyu(
    high_popularity.dropna(),
    low_popularity.dropna(),
    alternative='greater'  # Using two-sided test unless there's a specific directional hypothesis
)

In [24]:
p_value

9.929258851707232e-35

#### Q2

Are movies that are newer rated differently than movies that are older? [Hint: Do a median split of year of release to contrast movies in terms of whether they are old or new]

In [60]:
q2_data = pd.DataFrame({
        'year': movie_ratings.columns.str.extract(r'(\d{4})')[0].astype(int),  # Extract year from column names and flatten
        'median_rating': movie_ratings.median().values,       # Median rating
})

In [61]:
q2_data

     year  median_rating
0    2003            2.5
1    1999            2.0
2    2012            3.5
3    1979            3.0
4    1989            3.0
..    ...            ...
395  1970            2.5
396  1997            2.5
397  1996            2.5
398  1977            2.0
399  1989            2.5

[400 rows x 2 columns]

In [64]:
median_year = q2_data['year'].median()
q2_data['is_old'] = q2_data['year'] > median_year
old = q2_data[q2_data['is_old']]['median_rating']
not_old = q2_data[~q2_data['is_old']]['median_rating']

In [65]:
statistic, p_value = stats.mannwhitneyu(
    old.dropna(),
    not_old.dropna(),
    alternative='two-sided'  # Using two-sided test unless there's a specific directional hypothesis
)

In [66]:
p_value

0.19865156776112602

#### Q3

Is enjoyment of ‘Shrek(2001)’ gendered, i.e. do male and female viewers rate it differently

In [13]:
movie_ratings

,The Life of David Gale (2003),Wing Commander (1999),Django Unchained (2012),Alien (1979),Indiana Jones and the Last Crusade (1989),Snatch (2000),Rambo: First Blood Part II (1985),Fargo (1996),Let the Right One In (2008),Black Swan (2010),...,X-Men 2 (2003),The Usual Suspects (1995),The Mask (1994),Jaws (1975),Harry Potter and the Chamber of Secrets (2002),Patton (1970),Anaconda (1997),Twister (1996),MacArthur (1977),Look Who's Talking (1989)
0,NaN,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,0.5,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,NaN,4.0,...,NaN,3.0,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3.5,NaN,0.5,NaN,0.5,1.0,NaN,0.0,...,2.5,NaN,3.0,NaN,NaN,NaN,NaN,1.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
1093,3.0,4.0,NaN,NaN,4.0,4.0,2.5,NaN,3.5,3.5,...,4.0,NaN,4.0,3.5,3.5,4.0,3.5,4.0,4.0,4.0
1094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
1095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN
1096,NaN,NaN,4.0,NaN,2.5,NaN,NaN,3.0,NaN,3.5,...,NaN,NaN,NaN,3.5,4.0,NaN,NaN,NaN,NaN,NaN

In [14]:
q3_data = pd.DataFrame({
        'rating': data['Shrek (2001)'],
        'gender': data.iloc[:, 474]  # Gender is in column 475 (0-based indexing)
    })

In [15]:
Shrek_female = q3_data[q3_data['gender'] == 1]['rating'].dropna()
Shrek_male = q3_data[q3_data['gender'] == 2]['rating'].dropna()
Shrek_other = q3_data[q3_data['gender'] == 3]['rating'].dropna()

In [16]:
kw_statistic, kw_p_value = stats.kruskal(Shrek_female, Shrek_male, Shrek_other)

#### Q4

What proportion of movies are rated differently by male and female viewers

In [39]:
kw_p_values = []
for i in range(400):
    i_th_data = pd.DataFrame({
        'rating': data.iloc[:, i],
        'gender': data.iloc[:, 474]
    })
    female = i_th_data[i_th_data['gender'] == 1]['rating'].dropna()
    male = i_th_data[i_th_data['gender'] == 2]['rating'].dropna()
    other = i_th_data[i_th_data['gender'] == 3]['rating'].dropna()
    kw_statistic, kw_p_value = stats.kruskal(female, male, other)
    kw_p_values.append(kw_p_value)

In [40]:
# see how many is significant
sum(np.array(kw_p_values) < 0.005)/400

0.1

#### Q5
Do people who are only children enjoy ‘The Lion King(1994)’ more than people with siblings?

In [19]:
q_5_data = pd.DataFrame({
        'rating': data['The Lion King (1994)'],
        'only_child': data.iloc[:, 475]  # Age is in column 474 (0-based indexing)
    })

In [20]:
q_5_data['only_child'].value_counts()

only_child
 0    894
 1    177
-1     26
Name: count, dtype: int64

In [27]:
only_child_rating = q_5_data[q_5_data['only_child'] == 1]['rating'].dropna()
not_only_child_rating = q_5_data[q_5_data['only_child'] == 0]['rating'].dropna()
statistic, p_value = stats.mannwhitneyu(
    only_child_rating.dropna(),
    not_only_child_rating.dropna(),
    alternative='greater'  # Using two-sided test unless there's a specific directional hypothesis
)

In [28]:
p_value

0.978419092554931

#### Q6
What proportion of movies exhibit an “only child effect”, i.e. are rated different by viewers with siblings vs. those without?

In [37]:
q6_p_values = []
for i in range(400):
    i_th_data = pd.DataFrame({
        'rating': data.iloc[:, i],
        'only_child': data.iloc[:, 475]
    })
    only_child_rating = i_th_data[i_th_data['only_child'] == 1]['rating'].dropna()
    not_only_child_rating = i_th_data[i_th_data['only_child'] == 0]['rating'].dropna()
    q6_statistic, q6_p_value = stats.mannwhitneyu(
    only_child_rating.dropna(),
    not_only_child_rating.dropna(),
    alternative='two-sided'  # Using two-sided test unless there's a specific directional hypothesis
)
    q6_p_values.append(q6_p_value)
print(sum(np.array(q6_p_values) < 0.005)/400)

0.0175

#### Q7
Do people who like to watch movies socially enjoy ‘The Wolf of Wall Street (2013)’ more than those who preferto watch them alone?

In [32]:
q7_data = pd.DataFrame({
        'rating': data['The Wolf of Wall Street (2013)'],
        'social': data.iloc[:, 476]  # Age is in column 474 (0-based indexing)
    })

In [33]:
q7_alone_rating = q7_data[q7_data['social'] == 1]['rating'].dropna()
q7_not_alone_rating = q7_data[q7_data['social'] == 0]['rating'].dropna()
statistic, p_value = stats.mannwhitneyu(
    q7_alone_rating.dropna(),
    q7_not_alone_rating.dropna(),
    alternative='greater'  # Using two-sided test unless there's a specific directional hypothesis
)
print(p_value)

0.05638214666114455

#### Q8
What proportion of movies exhibit such a “social watching” effect

In [42]:
q8_p_values = []
for i in range(400):
    i_th_data = pd.DataFrame({
        'rating': data.iloc[:, i],
        'social': data.iloc[:, 476]
    })
    alone_rating = i_th_data[i_th_data['social'] == 1]['rating'].dropna()
    not_alone_rating = i_th_data[i_th_data['social'] == 0]['rating'].dropna()
    q8_statistic, q8_p_value = stats.mannwhitneyu(
    alone_rating.dropna(),
    not_alone_rating.dropna(),
    alternative='two-sided'  # Using two-sided test unless there's a specific directional hypothesis
)
    q8_p_values.append(q8_p_value)
print(sum(np.array(q8_p_values) < 0.005)/400)

0.025

#### Q9
Is the ratings distribution of ‘Home Alone (1990)’ different than that of ‘Finding Nemo (2003)

In [43]:
home_alone_rating = data['Home Alone (1990)']
finding_nemo_rating = data['Finding Nemo (2003)']

In [44]:
# do a ks test
ks_statistic, ks_p_value = stats.ks_2samp(home_alone_rating.dropna(), finding_nemo_rating.dropna())
ks_p_value

6.379397182836346e-10

#### Q10
There are ratings on moviesfrom several franchises ([‘Star Wars’, ‘Harry Potter’, ‘The Matrix’, ‘Indiana Jones’, ‘Jurassic Park’, ‘Pirates of the Caribbean’, ‘Toy Story’, ‘Batman’]) inthis dataset. How many of these are of inconsistent quality, as experienced by viewers? [Hint: You can use the keywords in quotation marks featured in this question to identify the movies that are part of each franchise

In [81]:
# List of franchises
franchises = ['Star Wars', 'Harry Potter', 'The Matrix', 'Indiana Jones', 
              'Jurassic Park', 'Pirates of the Caribbean', 'Toy Story', 'Batman']

# Create a dictionary to store variance for each franchise
franchise_films = {}

# Loop through each franchise, calculate variance of ratings
for franchise in franchises:
    # Filter columns containing the franchise name
    franchise_movies = data.filter(like=franchise)
    # do kruskal test
    franchise_films[franchise] = franchise_movies
    # FIXME 
    kw_statistic, p_value = stats.kruskal(*franchise_films[franchise])
    print(p_value)

0.4158801869955079
0.3916251762710877
0.36787944117144245
0.3916251762710877
0.36787944117144245
0.36787944117144245
0.36787944117144245
0.36787944117144245

In [83]:
franchise_films['Star Wars']

,Star Wars: Episode IV - A New Hope (1977),Star Wars: Episode II - Attack of the Clones (2002),Star Wars: Episode V - The Empire Strikes Back (1980),Star Wars: Episode 1 - The Phantom Menace (1999),Star Wars: Episode VII - The Force Awakens (2015),Star Wars: Episode VI - The Return of the Jedi (1983)
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,0.0,4.0,0.0,2.5,4.0
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1092,4.0,3.0,4.0,NaN,4.0,4.0
1093,4.0,3.0,3.5,4.0,4.0,4.0
1094,3.0,1.5,3.0,2.5,4.0,4.0
1095,NaN,4.0,4.0,4.0,NaN,4.0
1096,1.0,1.0,NaN,1.0,NaN,NaN